
@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url('/Fonts/SFProText-HeavyItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Text', sans-serif;
}

:root[data-theme="dark"] {
  --background-color: #101111;
  --text-color: #fff;
  --button-color: #000000;
}

:root[data-theme="light"] {
  --background-color: #EDF4F6;
  --text-color: #000000;
  --button-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
  font-family: 'SF Pro Text';
  user-select: none;
  transition: all 0.3s ease;

}